/* *{
  padding: 0px;
  margin: 0px;
}

.training-section{
  width: 100%;
  height: 800px;
  background-color: white;
  background-size: cover;
}



.container{
  width: 1170px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.items{
  flex-basis: 23%;
  margin: 10px 0px;
  box-shadow: 0px 0px 10px 3px lightgray;
  background-color: white;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  text-justify: auto;
}

.items img{
  margin: auto;
}

.items h1{
  padding: 10px 0px;
}

.items p{
  padding: 10px 0px;
}

.training-section button{
  background-color: blue;
  border-radius: 3px;
}

.items:hover{
  background: orange;
}

@media only screen and (min-width:200px) and (max-width: 800px) {
  .container{
    width: 100%;
    flex-direction: column;
  }

  .items {
    margin: 0px 10  px;
  }
  
} */

/* body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
  font-size: 100px;
  background-image: url('../public/Assests/Images/pic6.png');
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

}


.hero{
  min-height: 100vh;
  background-image: url('../public/Assests/Images/mountain.jpg');
  background-size: cover;
  color: white;
  display: flex;
}

.hero-intro{
  width: 40%;
  padding: 2em;
  padding-top: min(15vh, 10rem);
  background-color: green;
  mix-blend-mode: multiply;
}

h2{
  margin-top: 100px;
  text-align: center;
  font-size: 100px;
  color: transparent;
  background: url('../public/Assests/Images/pic8.png');
  background-size: contain;
  -webkit-background-clip: text;
}

img{
  margin: 300px;
  clip-path: circle(30% at 50% 50%);
} */